node_modules
node_modules_linux
coverage
server/localdev-config.json
server/localdev-config.json
vcap-local.js
credentials.json
localdev-config.json
*.log
old
.odo\odo-file-index.json
lib-old
server/services/data.psh
server/services/Demchenko
server/services/data.dem
bin
bin.localhost
test